body {
    background-color: #FFFAFA;
    font-family: cursive;
}

#pageDiv {
    display: flex;
    width: 1500px;
    height: 850px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    background-color: aqua;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    height: 90%;
    border: 1px solid black;
    box-shadow: 10px 10px;
    background-color: bisque;
}

#topBarDiv{
    display: flex;
    flex-direction: row;
}

.userTabDiv{
    height: 100%;
    flex-grow: 1;
    min-width: 400px;
    background-color: cornsilk;
}

.toUserTabDiv{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    width: 95%;
    background-color: chartreuse;
}

.chatWindowClassTest{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70%;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    box-shadow: 5px 5px;
    border: 1px solid black;
    background-color: tomato;
}

#userTab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    width: 23%;
    box-shadow: 5px 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: yellow;
}

#contactsMenu {
    border: 1px solid black;
    height: 500px;
    width: 200px;
    overflow: scroll;
}

#chatMenu {
    border: 1px solid red;
    height: 500px;
    width: 200px;
    display: inline-block;
    overflow: scroll;
}

#output {
    border: 1px solid black;
    display: inline-block;
    height: 800px;
    width: 800px;
    overflow: scroll;
}

#chatWindow {
    border: 1px solid black;
    display: inline-block;
    height: 800px;
    width: 800px;
    overflow: scroll;
}

.chatBox {
    border: 1px solid black;
}

#allChatDiv {
    display: flex;
    flex-direction: row;
}

#contactParentDiv {
    height: 100%;
    flex-grow: 1;
    min-width: 400px;
    background-color: cornsilk;
}

#searchDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70px;
        width: 350px;
        box-shadow: 5px 5px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 20px;
        background-color: ghostwhite;
        border: 1px solid black;
}

.singleContactTest {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    width: 350px;
    box-shadow: 5px 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: ghostwhite;
}

.displayImageTag {
    height: 80%;
    margin-top: 4px;
    border-radius: 50%;
    border: 2px solid black;
}

.verticalFlexParent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.typing {
    color: #59504E;
}

.moreImageTag {
    height: 20px;
    width: 20px;
}

#chatParentDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    background-color: chartreuse;
}

.chatWindowClass {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    box-shadow: 5px 5px;
    background-color: tomato;
    overflow-y: auto;
}

.indiMessageDiv {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    max-width: 400px;
    background-color: aqua;
}

.left {
    justify-content: flex-start;
    margin-left: 10px;
    box-shadow: -5px 5px;
}

.right {
    float: right;
    margin-right: 10px;
    box-shadow: 5px 5px;
}

.middle {
    max-width: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    box-shadow: 0px 5px, 0px -5px;
}

.fullWidth {
    width: 100%;
}

#toUserTab {
    width: 65%;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;
    background-color: tomato;
    box-shadow: 5px 5px;
}

#toUser {
    background-color: tomato;
    border-width: 0px;
    border: none;
}

.keyBoardDivClass {
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
    width: 90%;
    min-height: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    box-shadow: 5px 5px;
}

#sendButton{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("http://i.stack.imgur.com/BSVeQ.gif");
    background-repeat: no-repeat;
}








/*Toogle Switch Test*/

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gold;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }