<!DOCTYPE html>
<html>

<head>
    <title>HackApp:Chatbox</title>
    <link rel="stylesheet" type="text/css" href="/visualization/chatbox.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous">
        </script>

</head>

<body>

    <h1>Shadow </h1>

    <div id="pageDiv">

        <diV id="mainDiv">
            <div id="topBarDiv">
                <button id="logoutButton">Logout</button>
            </div>
            <div id="allChatDiv">
                
                    <div id="contactParentDiv">

                        <div class="singleContactTest">

                            <div>
                                <img src="/assets/student.png"  class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png"  class="moreImageTag">
                            </div>

                        </div>

                        <hr>  

                        <div class="singleContactTest">

                            <div>
                                <img src="/assets/student.png"  class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png"  class="moreImageTag">
                            </div>

                        </div>

                        <hr>  

                        <div class="singleContactTest">

                            <div>
                                <img src="/assets/student.png"  class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png"  class="moreImageTag">
                            </div>

                        </div>

                        <hr>  

                        <div class="singleContactTest">

                            <div>
                                <img src="/assets/student.png"  class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png"  class="moreImageTag">
                            </div>

                        </div>

                        <hr>  

                        <div class="singleContactTest">

                            <div>
                                <img src="/assets/student.png"  class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png"  class="moreImageTag">
                            </div>

                        </div>

                        <hr>  

                        <div class="singleContactTest">

                            <div>
                                <img src="/assets/student.png"  class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png"  class="moreImageTag">
                            </div>

                        </div>

                    </div>

                    <div id="chatParentDiv">

                        <div style="width: 90%; margin: auto; background-color: tomato; box-shadow: 5px 5px;">
                            <input type="text" name="toUser" id="toUser" placeholder="To"></input>
                        </div>

                        <div class="chatWindowClass">

                            <div class="fullWidth">

                                <div class="indiMessageDiv right">
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                </div>

                            </div>

                            <div class="fullWidth">
                               
                                <div class="middle">
                                    Class Center
                                </div>
                                
                            </div>

                            <div class="fullWidth">

                                <div class="indiMessageDiv left">
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                    Dummy Messages
                                </div>

                            </div>

                        </div>

                        <div style="background-color: tomato; width: 90%; margin: auto; box-shadow: 5px 5px;">
                            <input type="text" name="messageUser" id="messageUser" placeholder="message"></input>
                            <button id="sendButton">Submit</button>
                        </div>

                    </div>
                
            </div>
        </diV>

    </div>

    <div id="info">
        <input type="text" name="fromUser" id="fromUser" placeholder="from" style="display: none;"></input>
    </div>

    <div id="output">
        <div id="chatCount0">

        </div>
    </div>
    <div id="chatWindow">

    </div>
    <script src="/javaScript/chatbox.js"></script>
</body>

</html>