<!DOCTYPE html>
<html>

<head>
    <title>HackApp:Chatbox</title>
    <link rel="stylesheet" type="text/css" href="/visualization/chatbox.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous">
    </script>

</head>

<body>

    <h1>Shadow </h1>

    <div id="pageDiv">

        <diV id="mainDiv">
            <div id="topBarDiv">
                <button id="logoutButton">Logout</button>
            </div>
            <div id="allChatDiv">
                <div id="chatAndContactParentDiv">
                    <div id="contactParentDiv">

                    </div>
                    <div id="chatParentDiv">
                        <div>
                            <input type="text" name="toUser" id="toUser" placeholder="To"></input>
                        </div>
                        <div>

                        </div>
                        <div>
        <input type="text" name="messageUser" id="messageUser" placeholder="message"></input>
        <button id="sendButton">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </diV>

    </div>

    <div id="info">
        <input type="text" name="fromUser" id="fromUser" placeholder="from" style="display: none;"></input>
    </div>

    <div id="output">
        <div id="chatCount0">

        </div>
    </div>
    <div id="chatWindow">

    </div>
    <script src="/javaScript/chatbox.js"></script>
</body>

</html>