<!DOCTYPE html>
<html>

<head>
    <title>HackApp:Chatbox</title>
    <link rel="stylesheet" type="text/css" href="/visualization/chatbox.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous">
        </script>

</head>

<body>

    <div id="pageDiv">

        <div style="text-align: center;width: 10%; margin: auto; margin-bottom: 10px;">
            <div style="box-shadow: 5px 5px, -5px -5px;border: 1px solid black;">
                <h1>Shadow</h1>
            </div>
        </div>

        <diV id="mainDiv">

            <div id="topBarDiv">

                <div class="userTabDiv">

                    <div class="singleContactTest" style="margin-left: 15px;">
                       
                        <div>
                            <img src="/assets/student.png" class="displayImageTag">
                        </div>
                        <div class="verticalFlexParent">
                            RajGM
                        </div>
                        <div class="verticalFlexParent">
                            <button id="logoutButton">Logout</button>
                        </div>
                        <div class="verticalFlexParent">
                            <img src="/assets/more.png" class="moreImageTag">
                        </div>

                    </div>

                </div>

                <div class="toUserTabDiv">

                    <div class="chatWindowClassTest">
                        
                        <div class="verticalFlexParent">
                            <img src="/assets/student.png" style="height: 50px; width: 50px;">
                        </div>
                        <div class="verticalFlexParent">
                            UserName
                        </div>
                        <div class="verticalFlexParent">
                            Not Connected
                        </div>
                        <div class="verticalFlexParent">
                            +
                        </div>
                        <div style="display: none;" class="verticalFlexParent">
                            <img src="/assets/student.png" style="height: 50px; width: 50px;">
                        </div>
                        <div style="display: none;" class="verticalFlexParent">
                            <img src="/assets/student.png" style="height: 50px; width: 50px;">
                        </div>
                        <div class="verticalFlexParent">
                            <img src="/assets/student.png" style="height: 50px; width: 50px;">
                        </div>

                    </div>
                    
                </div>

            </div>

            <div id="allChatDiv">

                <div id="contactParentDiv">

                    

                        <div id="searchDiv">

                            <div>
                                Search from Web <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label> Contacts
                            </div>
                            <div>
                                <input type="text" placeholder="Enter userName to search" id="searchInput"> <button id="searchButton">Go</button>
                            </div>
    
                        </div>
    
                        <hr>
    
                        <div class="singleContactTest">
    
                            <div>
                                <img src="/assets/student.png" class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png" class="moreImageTag">
                            </div>
    
                        </div>
    
                        <hr>
    
                        <div class="singleContactTest">
    
                            <div>
                                <img src="/assets/student.png" class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png" class="moreImageTag">
                            </div>
    
                        </div>
    
                        <hr>
    
                        <div class="singleContactTest">
    
                            <div>
                                <img src="/assets/student.png" class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png" class="moreImageTag">
                            </div>
    
                        </div>
    
                        <hr>
    
                        <div class="singleContactTest">
    
                            <div>
                                <img src="/assets/student.png" class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png" class="moreImageTag">
                            </div>
    
                        </div>
    
                        <hr>
    
                        <div class="singleContactTest">
    
                            <div>
                                <img src="/assets/student.png" class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png" class="moreImageTag">
                            </div>
    
                        </div>
    
                        <hr>
                        
                        <div class="singleContactTest">
    
                            <div>
                                <img src="/assets/student.png" class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png" class="moreImageTag">
                            </div>
    
                        </div>

                        <hr>
    
                        <div class="singleContactTest">
    
                            <div>
                                <img src="/assets/student.png" class="displayImageTag">
                            </div>
                            <div class="verticalFlexParent">
                                RajGM
                            </div>
                            <div class="verticalFlexParent typing">
                                Typing
                            </div>
                            <div class="verticalFlexParent">
                                <img src="/assets/more.png" class="moreImageTag">
                            </div>
    
                        </div>


                    
                    
                </div>

                <div id="chatParentDiv">

                    <div class="chatWindowClass">

                        <div class="fullWidth">

                            <div class="indiMessageDiv right">
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="middle">
                                Class Center
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="indiMessageDiv left">
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="indiMessageDiv right">
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="middle">
                                Class Center
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="indiMessageDiv left">
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="indiMessageDiv left">
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="indiMessageDiv left">
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                            </div>

                        </div>

                        <div class="fullWidth">

                            <div class="indiMessageDiv left">
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                                Dummy Messages
                            </div>

                        </div>
                        
                    </div>

                    <div class="keyBoardDivClass">
                        <div>
                            <button style="height: 40px; width: 40px; border-radius: 50%;" id="emojiButton" disabled>EP</button>
                        </div>
                        <div>
                            <p id="messageUser" contenteditable="true"
                                style="min-width: 700px; max-width: 700px ;max-height: 80px; overflow-y:auto; outline: auto; box-shadow: 5px 5px;"
                                placeholder="message">Check</p>
                        </div>
                        <div>
                            <button id="sendButton"></button>
                        </div>
                    </div>

                </div>

            </div>

        </diV>

    </div>

    <div style="display: none;">

        <div id="info" style="display: none;">
            <input type="text" name="fromUser" id="fromUser" placeholder="from"></input>
        </div>
        <div id="output" style="display: none;">
            <div id="chatCount0">

            </div>
        </div>
        <div id="chatWindow" style="display: none;">

        </div>
    </div>

    <script src="/javaScript/chatbox.js"></script>
</body>

</html>



<!--

 <div id="toUserTab">

                        <div class="verticalFlexParent">
                            <img src="/assets/student.png" style="height: 50px; width: 50px;">
                        </div>

                        <div class="verticalFlexParent" style="background-color: blanchedalmond; width: 100px;">
                            <input type="text" name="toUser" id="toUser" placeholder="RajGM123Test"></input>
                        </div>

                        <div class="verticalFlexParent" style="background-color: blanchedalmond;">
                            This is my status of 35s characters
                        </div>

                        <div class="verticalFlexParent">
                            <img src="/assets/phone.png" style="height: 40px; width: 50px;">
                        </div>

                        <div class="verticalFlexParent">
                            <img src="/assets/video-call.png" style="height: 50px; width: 50px;">
                        </div>

                        <div class="verticalFlexParent">
                            <img src="/assets/more.png" style="height: 30px; width: 30px;">
                        </div>

                    </div>

-->