<!DOCTYPE html>
<html>

<head>
    <title>HackApp</title>
    
</head>

<body>
    
    <div id="pageDiv">
        <div id="mainDiv">
            <div><p class="chatAppName">Shadow</p></div>
            <div> <p class="chatAppIntro">A anonymous chatApp for the </br>  <b>verified</b> </br> students </br> and </br> employees</p> </div>
            <div> <button onclick="window.location.href='/login'">Login</button>
                <button onclick="window.location.href='/register'">Register</button>
             </div>
        </div>
    </div>
    
    <script src="/javaScript/indexpage.js"></script>
    <link rel="stylesheet" type="text/css" href="/visualization/indexpage.css" />
</body>

</html>