<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>

    <div id="pageDiv">

        <div id="mainDiv">
            <div>
                <p>LogIn into <b class="chatAppName">Shadow</b> </p>
            </div>
            
            <div class="inputDiv">

                <div class="inputLabelDiv">
                    <label for="userName">userName</label><br>
                    <label for="Password">&nbsp Password</label>
                </div>

                <div class="inputDataDiv">
                    &nbsp
                    <input type="text" name="userName" id="userName"></input><br>
                    <input type="password" id="Password" name="Password">        
                </div>

            </div>

            <br>

            <div>
                <button id="LoginButton">Login</button>
            </div>
            <br>
            
            <div class="complementDiv">
                Recover your <button class="secondaryButton">UserName</button>  OR <button class="secondaryButton">Password</button> 
            </div>

            <div class="complementDiv">
                Create new <button class="secondaryButton" id="registerPageRedirectButton">Account</button>
            </div>
            
    
        </div>

    </div>
    
    <script src="/javaScript/loginClient.js"></script>
    <link rel="stylesheet" type="text/css" href="/visualization/loginClient.css" />
</body>

</html>